.cards__item {
  width: 240px;
  list-style-type: none;
  transition: 1.5s;
  background: white;
  color: black;
  border: 0;
}

.cards__item:nth-child(2) {
  margin: 0 100px;
}

.cards__item:nth-child(5) {
  margin: 0 100px;
}

.cards__item:hover {
  transition: all 2s ease-in-out;
  background: #f2f2f2;
  color: black;
  border-radius: 5%;
}