.khan__buy-link {
  left: 668px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
  transition: 1s;
}

.khan__buy-link:hover {
  transition: 1s;
  opacity: .5;
}